

/* General style used on both pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-bg-color: #000;
    --white-text-color: #fff;
}

h1, h2, h3, h4, a, p {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    color: #fff;
}

h1 {
    font-size: 16px;
    font-weight: lighter;
}

h2 {
    font-size: 32px;
    line-height: 95%;
}


body {
    background-color: var(--black-bg-color);
    color: var(--white-text-color);
    scroll-behavior: smooth;
    font-family: brandon-grotesque, sans-serif;
}

header {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom:40px;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 50;
    background: transparent;
    display: flex;
    align-items: baseline;
    gap: 50px;
    z-index: 20;
}

.visibility {
    display: none;
}

header svg {
    fill: var(--white-text-color);
    width: 150px;
    height: auto;
}

#menu-button {
    z-index: 100;
}

header nav:first-of-type ul li a {
    position: relative;
    text-decoration:none;
    transition:color .5s;
    font-size: 14px;
    font-weight: 300;
}

header section:first-of-type {
    display: flex;
    gap: 25px;
    font-size: 14px;
    font-weight: 300;
    align-items: center;
    position: absolute;
    right: 60px;
    top: 56px;
}

header section:nth-of-type(2) {
    position: absolute;
    right: -400px;
    top: 0;
    background-color: var(--black-bg-color);
    width: 400px;
    height: 100vh;
    transition: 1s;
}

header section:nth-of-type(2) ul {
    color: var(--white-text-color);
    list-style: none;
    margin-top: 100px;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header section:nth-of-type(2) ul li {
    border-bottom: .5px solid #979797;
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 15px;
    transition: .5s;
}

header section:nth-of-type(2) ul li a:hover {
    color: #979797;
    transition: .5s;
}


.menu-container {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 10px;
    width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 3px; */
}

.menu-element  {
    width: 16px;
    height: 2px;
    background-color: var(--white-text-color);
    transition: .5s;
}

.rotate-left {
    transform: rotate(45deg);
    position: absolute;
}

.rotate-right {
    transform: rotate(-45deg);
}

.none {
    opacity: 0;
}

.test {
    background-color: green;
    transform: translateX(-400px);
}

header section a {
    text-decoration: none;
}

/* #margin {
    margin-right: 120px;
} */

header nav ul li a::after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:100%;
    height:.1em;
    background-color:currentColor;
    transform:scaleX(0);
    transform-origin:right center;
    transition:transform .5s;
}

header nav ul li a:is(:hover, :focus-visible)::after {
      transform:scaleX(1);
      transform-origin:left center;
  }

  @media (max-width: 1000px) {
    header {
        justify-content: center;
    }
  }

@media (min-width: 1000px) {
    header {
        height: 80px;
    }
    header svg {
        width: 210px;
        height: auto;
    }
    .visibility {
        display: block;
    }
    header {
        font-weight: 600;
    }
    nav ul {
        display: flex;
        gap: 15px;
        list-style: none;
        margin-top: 10px;
    }
    nav ul li a {
        text-decoration: none;
        font-size: 12px;
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer ul {
    list-style: none;
}

footer ul {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

footer ul li:nth-of-type(1) {
    font-size: 12px;
    font-family: brandon-grotesque, sans-serif;
    color: #979797;
    width: 100%;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
    font-size: 12px;
    transition: .5s;
}

footer ul li a:hover {
    color: #979797
}



/* CSS OPDELEN IN MEERDERE BESTANDEN, INDEX.CSS, MAIN.CSS, DETAIL.CSS */